body{
    font-family: Montserrat;
    text-align: center;

}
.colored{
  background-color: #ff4c68;
    color:white;
}
.white-section{
  background-color: white;
}
#testimonials.colored, #press.colored{
  background-color: #ef8172;
}
#title{
  text-align: left;
}
@media (max-width: 990px)
{
  #title {
    text-align: center;
  }
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
  line-height: 1.5;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 1.5rem;
}
/* Navbar */
.container-fluid{
  padding: 3% 15% 7%;
}
.navbar{
  font-size: 1.2rem;
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-weight: lighter;
  padding-left: 0;

}

.navbar-brand{
  font-size: 2.5rem;
  font-family: Ubuntu;
}
.nav-item{
  padding: 0 15px;
  margin: 10px;
}

/* Title Section */

.title-image{
  transform: rotate(25deg);
  width: 50%;
  position: absolute;
  right: 150px;
}
.big-heading{
  font-size: 3rem;
}
@media (max-width: 990px){
  .title-image{
    transform: rotate(0);
    position: static;
  }
}
.download-btn{
  margin: 5% 3% 5% 0;
}

/* Features Section */

#features{
  padding:7% 15%;
  position: relative;
}
.feat{
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 20px;
  margin-right: 35px;
}
.icon:hover{
  color: #ff4c46;
}


/* Testimonials Sections */

.carousel-item{
  padding: 7% 15%;
}
.testimonial-image{
  border-radius: 100%;
  width: 20%;
  margin: 30px;

}


/* press section */

#press{
  padding-bottom: 3%;
}
.press-img{
  width: 15%;
  margin: 30px 30px 50px ;
}

/* Pricing Section */

#pricing{
  padding: 100px;
}

.pricing-card{
  padding: 3% 2%;
}

/* Cta section */

#cta{
  padding: 7% 15%;
}
.cta-btn{
  margin-top: 50px;
  margin-left: 20px;
}

/* Footer section */

#footer{
  padding: 7% 15%;
}
.cta-icon{
  color: #000;
  padding: 1%;
}

p{
  color: #8f8f8f;
}
